@model MyWebApplication.ViewModels.GamingMachineEditViewModel

@{
	ViewBag.Title = "Edit Page";

	var feedbackClasses = !TempData.ContainsKey("updateSucceeded")
		? ""
		: (bool)TempData["updateSucceeded"] ? "alert alert-success" : "alert alert-danger";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Update @Model.Name</h4>
		<hr />

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DisplayFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="@feedbackClasses">
			<p>
				@(TempData.ContainsKey("updateResultMessage") ? TempData["updateResultMessage"].ToString() : "")
			</p>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Update" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

<!--
	Render inside the scripts place holder section that lives in _Layout.cshtml,
	we do this so that our script is rendered/loaded AFTER we have included the
	libraries and thus we don't get errors when trying to use their functionality
-->
@section Scripts {
	@Scripts.Render("~/Scripts/jquery.validate.js")
}